.navbar {
  background-color: #f8f9fa;
  padding: 10px;
}

.navbar-menu {
  display: flex;
  justify-content: center; /* Centraliza os itens horizontalmente */
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-menu li {
  margin: 0 15px; /* Espaçamento entre os itens */
}

.navbar-menu li a {
  text-decoration: none;
  color: #000;
}

.navbar-menu li a:hover {
  text-decoration: underline;
}